<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast />
            <h5>Upload de Arquivos PDF</h5>
            <p-fileUpload 
                name="demo[]" 
                [multiple]="true" 
                accept="application/pdf" 
                [customUpload]="true"
                (onSelect)="onSelectedFiles($event)"
                [maxFileSize]="1000000">

                <ng-template 
                    pTemplate="header" 
                    let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                    <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                        <div class="flex gap-2">
                            <p-button 
                                (onClick)="choose(files, chooseCallback)"
                                label="Selecionar Arquivos"
                                icon="pi pi-file" />
                            <p-button 
                                (onClick)="uploadHandler(files)"
                                label="Upload"
                                icon="pi pi-cloud-upload"
                                severity="success" 
                                [disabled]="!files || files.length === 0" />
                            <p-button (onClick)="clearCallback()"
                                label="Limpar"
                                icon="pi pi-times"
                                severity="danger" 
                                [disabled]="!files || files.length === 0" />
                        </div>
                    </div>
                </ng-template>

                <ng-template
                    pTemplate="content"
                    let-files
                    let-uploadedFiles="uploadedFiles"
                    let-removeFileCallback="removeFileCallback"
                    let-removeUploadedFileCallback="removeUploadedFileCallback"
                    let-index="index">
                    <p-progressBar *ngIf="isUploading" mode="indeterminate" [style]="{ height: '3px' }" />
                    <div *ngIf="files?.length > 0">
                        <p-messages [(value)]="messages" 
                        [showTransitionOptions]="'500ms'" 
                        [hideTransitionOptions]="'500ms'"
                        [enableService]="false" 
                        />
                        <!-- <h5>Pendente</h5> -->
                        <div class="flex flex-wrap p-0 sm:p-2 align-items-center justify-content-between gap-2">
                            <div
                                *ngFor="let file of files; let i = index"
                                class="cardFiles flex border-1 surface-border align-items-center justify-content-between gap-3">
                                <div class="flex-column">
                                    <span class="font-semibold">{{ file.name }}</span>
                                    <div>{{ formatSize(file.size) }}</div>
                                </div>
                                <p-button
                                icon="pi pi-times"
                                (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, i)"
                                [outlined]="true"
                                [rounded]="true"
                                severity="danger"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center flex-column gap-2" *ngIf="uploadCompleted">
                        <img src="../../assets/layout/images/correto.webp" alt="simbolo de correto ou sucesso" width="200px">
                        <p style="color: #7ac043; font-size: 20px; font-weight: bold;">ENVIO CONCLUÍDO!</p>
                        <p>{{messageSuccess}}</p>
                    </div>
                </ng-template>
                <ng-template pTemplate="file"> </ng-template>
            </p-fileUpload>
        </div>
    </div>
</div>